let mapleader = "\<Space>"

noremap <Esc><Esc> :<C-u>nohlsearch<cr><Esc>
" noremap <C-c><C-c> :<C-u>nohlsearch<cr><Esc>
noremap <Leader>w :w<CR>
noremap <Leader>q :q<CR>
noremap <Leader>t :tabnew<CR>
noremap <CR> o<ESC>

" Related buffer key-bindings( http://ivxi.hatenablog.com/entry/2013/05/23/163825 )
nnoremap <silent>bn :bnext<CR>
nnoremap <silent>bp :bprevious<CR>
nnoremap <silent>bd :bdelete<CR>

" http://babie.hatenablog.com/entry/20060111/p4
" nnoremap <Leader>+ <C-w>5+
" nnoremap <Leader>- <C-w>5-
inoremap <C-j> <Esc>
vnoremap <C-j> <Esc>
nnoremap <Insert> "+gp
inoremap <Insert> <Esc>"+gpa

" Insert Single Character when typing ,s
nmap <silent> <Leader>s "=nr2char(getchar())<cr>P

" vimgrep
nnoremap [q :cprevious<CR>   " 前へ
nnoremap ]q :cnext<CR>       " 次へ
nnoremap [Q :<C-u>cfirst<CR> " 最初へ
nnoremap ]Q :<C-u>clast<CR>  " 最後へ

augroup ArrowOperator
    autocmd!
    autocmd BufRead,BufNewFile *.php inoremap -` ->
    autocmd BufRead,BufNewFile *.php inoremap =` =>
augroup END

augroup PhpLinter
    autocmd BufRead,BufNewFile *.php map <F6> :!php -l %<CR>
augroup END

" Invalidate yank with deletion at x
noremap x "_x
